header {
    padding: 30px 10%;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.70);
}

.header__title {
    width: 100%;
    white-space: nowrap;
    color: var(--dark-color);
}

.header__logo {
    width: 37px;
    height: 37px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header__title {
        width: 100%;
        font-size: 1.6rem;
    }

    .header__logo {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 280px) {
    .header__logo {
        display: none;
    }
}
